h1
{
    text-align: center;
}
fieldset 
{                
    width:25%;       
    text-align:center;       
    border-radius:10px 10px 10px 10px;             
}             
input
{       
    border-radius:5px 5px 5px 5px;             
}    
input:hover 
{     
    cursor:pointer;          
}    
#btnStart:hover
{     
    background-color: green;    
}    
#btnPause:hover
{     
    background-color: blue;    
}    
#btnStop:hover
{     
    background-color: red;    
}    
#chrono
{     
    font-size: 1.5em;    
}    
.invi
{     
    display:none;    
}    
.visi
{     
    display:inline;    
}    
.green 
{     
    color:green;    
}    
.blue 
{     
    color:blue;    
}